[Desktop Entry]
Name=Translit
GenericName=Translit
Comment=Simple method of encoding Cyrillic letters with Latin ones
Keywords=translit;cyrillic;latin;
Exec=com.github.artemanufrij.translit %U
Icon=com.github.artemanufrij.translit
Terminal=false
Type=Application
Categories=Office;Utility;GNOME;GTK;
X-GNOME-Gettext-Domain=com.github.artemanufrij.translit
